body{
  background-color: #dc354547 !important;
}
#product-image {
  width: 288px;
  height: 260px;
  border-radius: 5px;
  transition: 1s;

}
#product-image:hover{
transform: scale(0.9);
z-index: 2;
}

.product-container {
  width: 290px !important;
  border: 1px solid black !important;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #ffc4c4 !important;
  padding-left: 0 !important;
  height: 438px !important;
}

/* ----------------------------------------------------- */
.card-info{
  position: relative;
  height: 160px;
  
}

.card-button {
  align-items: center;
  text-align: center;

}
.cate-product{
  color: rgb(26, 27, 27);
  text-align: center;
  font-size: 40px;
}

