<div class="row">
  <a class="return" href="/" onclick="return confirm('the form will not be save!');">Return</a>
</div>
<div class="container col-md-8 mt-3 mb-3 card bg-light">
  <div>
    <form action="/neft/add" method="post">
      <h1 class="text text-danger">Add New Nerf</h1>
      <div class="form-group">
        <label class="h5 text text-success">Full name</label>
        <input class="form-control" type="text" , name="name" required>
      </div>
      <div class="form-group">
        <label class="h5 text text-success" for="">Age</label>
        <input class="form-control" type="Number" , name="age" required>
      </div>
      <div class="form-group">
        <label class="h5 text text-success" for="">Sku</label>
        <input class="form-control" type="text" , name="sku" required>
      </div>
      <div class="form-group">
        <label class="h5 text text-success">image</label>
        <input class="form-control" type="text" , name="image" required>
      </div>
      <div class="form-group">
        <label class="h5 text text-success" for="">Des</label>
        <input class="form-control" type="text" , name="des" required>
      </div>
      <div class="form-group">
        <label class="h5 text text-success" for="">Price</label>
        <input class="form-control" type="text" , name="price" required>
      </div>
      <div class="form-group text-center mt-3 mb-3">
        <input class="btn btn-primary" type="submit" value="Add">
      </div>

    </form>
  </div>